.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    padding: 16;
    background: transparent;
    cursor: pointer;
    color: inherit;
}